<!-- /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .lists-icon {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 10%;
    text-align: center;
  }
  .lists-icon:hover {
    color: orange;
  }
  .closeX {
    display: block;
    position: relative;
    left: 216px;
    padding: 10px 20px;
    z-index: 200;
  }
  .navbar img {
    display: none;
  }

  .container .navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 0;
    z-index: 100;
    top: -400px;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }

  .container .navbar ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  .container .navbar ul li {
    padding: 20px 0;
    margin: 0;
    color: white;
  }
  .container .navbar ul li:hover {
    background-color: orange;
    color: white;
  }
  .container .navbar ul li a {
    font-size: 20px;
    font-weight: bolder;
    padding: 19px 159px;
    color: white;
  }

  .container .content .buy {
    padding: 1px 6px;
    font-size: 1px;
    display: flex;
    align-items: center;
  }
  .container .content .buy .ic {
    position: relative;
    top: 0;
    left: 3px;
    height: 10px;
  }

  /* socal bar
   */
  .container .social {
    display: none;
  }
  /* contant
    */

  .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    margin: 66px 2px;
  }

  .container .content .tools {
    position: relative;
    top: -33px;
    right: 0;
  }
  .container .content .tools img {
    height: 11px;
    position: absolute;
    top: -41px;
    right: -16px;
    z-index: 1;
  }

  .container .content .title h1 {
    color: #e2671a;
    font-size: 116px;
    margin: 0;
    font-family: sans-serif;
  }
  .container .content img {
    height: 176px;
    width: 168px;
    bottom: -40px;
  }
  .container .content .tools span {
    height: 11px;
    width: 26px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(46, 46, 46), rgb(8, 8, 8));
    position: absolute;
    top: -47px;
    right: 31px;
    z-index: 90;
    font-size: 1px;
    text-align: center;
    color: aliceblue;
  }
  /* about */
  .container .moreAbout {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .container .moreAbout img {
    height: 150px;
  }
  .container .moreAbout .content-moreAbout {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .container .moreAbout .content-moreAbout .text h1 {
    font-size: 17px;
  }
  .container .moreAbout .content-moreAbout .text h1 {
    font-size: 17px;
  }
  .container .moreAbout .content-moreAbout a {
    font-size: 10px;
    height: 22px;
    width: 84px;
  }
  .container .moreAbout .content-moreAbout a #aboutic {
    margin-left: 3px;
    font-size: 10px;
  }
  /* choose */

  .container .choose {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: aliceblue;
  }

  .container .choose h1 {
    font-size: 16px;
  }
  .swiper-slide img {
    width: 50%;
}
.swiper-slide {
  width: 220px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 8px;
    top: 87%;
    left: 0;
    width: 100%;
}
.container .model .image img {
  height: 288px;
}
.container .model .image .s1, .container .model .image .s2, .container .model .image .s3, .container .model .image .s4 {
  font-size: 14px;
}
.container .model .image .mo1, .container .model .image .mo2, .container .model .image .mo3, .container .model .image .mo4 {
  height: 20px;
  position: absolute;
  z-index: 90;
}
.container .model .image span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 125px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(46, 46, 46), rgb(8, 8, 8));
  position: absolute;
  top: -12px;
  right: 295px;
  z-index: 90;
  font-size: 12px;
  text-align: center;
  color: aliceblue;
}
.container .model .image .mo1 {
  top: 24px;
  right: -10px;
}
.container .model .image .s1 {
  top: 16px;
  right: -133px;
}
.container .model .image .mo2 {
  top: 219px;
  right: 62px;
}
.container .model .image .mo3 {
  top: 117px;
  right: 244px;
  transform: rotateY(208deg);
}
.container .model .image .s3 {
  top: 106px;
  right: 284px;
  transform: rotateY(0);
}
.container .model .image .mo4 {
  top: 225px;
  right: 240px;
  transform: rotateY(190deg);
}
.container .model .image .s4 {
  top: 213px;
  right: 281px;
  transform: rotateY(0);
}
.container .model .image .s2 {
  top: 209px;
  right: -64px;
}
.container .moreAbout .content-moreAbout a, .container .model a {
 font-size: 12px;
  height: 28px;
  width: 110px;

}
.container .sponser {
  display: grid;
  justify-content: center;
  align-items: center;
 
  margin: 5px 0;
  grid-template-columns: auto auto;
    grid-gap: 50px;
}
.subscribe {
  display: grid;
  grid-template-columns: 1fr  1fr ;
  grid-template-rows: repeat(2,1fr) ;

  justify-items: center;
  position: relative;
  width: 100%;
  margin: 100px 0;
  padding: 0 40px;
}
.subscribe div {
  display: none
}
.subscribe .email {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/3
}

footer {
  padding: 20px;
}


}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
